header {
  text-align: center;
}

.navMenu {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.navMenu a {
  padding: 0 10px;
  color: #02b1c8;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #006e7c;
}

.navMenu a.active {
  color: #006e7c;
}

h1 {
  font-size: 40px;
}
header img {
  width: 320px;
  height: auto;
}
